
##
# {{ name }}
# Project created by Mercator
# {{ date }}
##

register_project '{{ name }}'
.{{ name }}() { enter_project '{{ name }}'; }

init_project_{{ name }}() {
	prefix_prompt '{{ icon }} '

	.cd() {
		cd '{{ directory }}'
	}
	.cd

	.help() {
		project_default_help
	}

	exit_project_{{ name }} () {
		echo "Exited {{ name }}."
	}

	echo "Entered {{ name }}."
}
