
##
# {{ name }}
# Project created by Mercator
# {{ date }}
##

register_project '{{ name }}'
init_project_{{ name }}() {
	prefix_prompt '{{ icon }} '
	.cd '{{ directory }}'

	# Additional init:


	# Cleanup:
	exit_project_{{ name }} () {
		echo "Exiting project {{ name }}..."
	}
	echo "Entered {{ name }}."
}
